/* TOP HEADER STYLING */

#container {
  background-color: black;
  color: white;
  padding: 0.5rem 7.5rem;
  width: 100vw;
}

.headerSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  flex-wrap: wrap;
}

.headerContactSec ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.headerContactSec ul li {
  color: #b8b8b8;
  transition: all 0.25s ease;
}

.headerContactSec ul div svg {
  font-size: 1.8rem;
}

.headerContactSec ul li:hover {
  color: #4563b3;
}

.contactSec ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contactSec ul li {
  color: #b8b8b8;
  transition: all 0.25s ease;
}

.contactSec ul li:hover {
  color: #4563b3;
}

.headerText span {
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  vertical-align: middle;
}

/* NAVBAR STYLING */

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  /* max-width: 1600px; */
  padding: 20px 40px;
  width: 100vw;
  /* position: fixed;
  top: 0;
  overflow: hidden;
  background-color: white;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  */

}


/* .fadeIn {
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); 
} */

.navBarCategoriesSec {
  width: 55vw;
}

.navBarCategoriesSec input {
  width: 45vw;
  border: 1px solid lightgray;
  height: 48px;
  padding: 1rem;
}

.navBarCategoriesSec select {
  z-index: 2;
  height: 100%;
  line-height: 16px;
  width: 13%;
  border: none;
  cursor: pointer;
  position: relative;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 14.5px 10px;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: transparent;
}

.navBarCategoriesSec button {
  z-index: 2;
  height: 100%;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 14.5px 5px;
  font-size: 2rem;
}

.navBarLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.navBarLeftContactSec {
  text-align: -webkit-center;
}

/* Sidebar Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

/* Sidebar Container */
.sidebar {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  max-width: 320px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 51;
  transition: transform 0.3s ease-in-out;
}

/* Open Sidebar */
.open {
  transform: translateX(0);
}

/* Closed Sidebar */
.closed {
  transform: translateX(-100%);
}

/* Menu Items */
.menuItem {
  transition: background 0.2s ease-in-out;
}

.menuItem:hover {
  background: #f1f1f1;
}

/* MOBILE NAVBAR RESPONSIVE STYLING */

.hamburgerSec {
  display: none;
}
.searchSec{
  display: none;

}
.mobileNavbarContainer {
  display: none;
}

@media screen and (max-width: 1060px) {
  .headerSec {
    justify-content: center;
  }
  .headerText span {
    white-space: nowrap;
  }
  .navBarContainer {
    padding: 10px 10px;
  }
  .navBarCategoriesSec {
    display: none;
  }

  .navBarLeftReviewSec {
    display: none;
  }
  .contactSec {
    display: none;
  }
  .headerContactSec {
    display: none;
  }

  .navBarLeft{
    gap: 3rem;
  
  }

}


@media screen and (max-width:1250px) {
  .hamburgerSec {
    display: flex;
  }
  .searchSec{
    display: block;
  }
  .mobileNavbarContainer {
    display: block;
  }
}