#container{
    background-color: black;
    color: white;
    padding: 0.5rem 2.5rem;
    width: 100vw;
}

.headerSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContactSec ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.headerContactSec ul li{
    color:#b8b8b8;


}
.contactSec ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.contactSec ul li{
    color:#b8b8b8;

  

}